<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="d435">
  <xacro:include filename="$(find mz04_description)/robots/d435.xacro" />

  <!-- for simulation -->
<!--  <xacro:include filename="$(find franka_description)/robots/panda.gazebo.xacro"/>-->
<!--  <xacro:include filename="panda.transmission.xacro"/>-->
  <!-- end for simulation -->

  <xacro:d435 />

  <!-- for simulation -->
<!--  <xacro:arg name="robot_name" default="mz04"/>-->
<!--  <xacro:panda_gazebo robot_name="$(arg robot_name)" />-->
<!--  <xacro:panda_transmission robot_name="$(arg robot_name)" load_hand="false" />-->
  <!-- end for simulation -->

</robot>
