<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dual_arm">
  <xacro:include filename="$(find mz04_description)/robots/mz04_arm.xacro"/>
  <xacro:include filename="$(find mz04_description)/robots/hand/robotiq_epick.xacro"/>
  <xacro:include filename="$(find mz04_description)/robots/hand/robotiq_hande.xacro"/>
  <xacro:arg name="arm_id_1" default="arm_L" />
  <xacro:arg name="arm_id_2" default="arm_R" />

  <link name="base" />
  <xacro:mz04_arm arm_id="$(arg arm_id_1)" connected_to="base"  xyz="0 -0.46534155 0" rpy="0 0 ${pi/2}"/>
  <xacro:mz04_arm arm_id="$(arg arm_id_2)" connected_to="base"  xyz="0 0.46534155 0" rpy="0 0 ${-pi/2}"/>

  <xacro:robotiq_epick parent="$(arg arm_id_1)_link6" name="hand_L">
    <origin xyz="0 0 0" rpy="0 0 -${pi}"/>
  </xacro:robotiq_epick>
  <xacro:robotiq_hand_e parent="$(arg arm_id_2)_link6" name="hand_R">
    <origin xyz="0 0 0" rpy="0 0 -${pi/2}"/>
  </xacro:robotiq_hand_e>

</robot>
