<launch>

    <param name="/use_sim_time" value="true" />
    <arg name="ns" default="left_arm" />
<!--    <group ns="left_arm">-->
   <param name="record_clock" value="true" />
    <node pkg="dual_arm_bringup" type="ros_test.py" name="test" output="screen">
        <param name="joint_name_param_id" value="$(arg ns)/hardware_interface/joints" />
    </node>

<!--    </group>-->
</launch>